footer {
    padding: 2px;
    color: blue;
    font-size: 150%;
    position: fixed;
    bottom: 0;
  }

a {
    text-align: center;
    margin-left: 270px;
}

.logo {
    height: 100px;
    margin-top: 1%;
    margin-left: 35%;
    /* margin-bottom: -3.5%; */
}

.radio_buttons {
    margin-top: 5%;
    margin-left: 35%;
    
}

.radio{
    font-size: 150%;
    color: black;
    margin-top: 2%;
    font-weight: bold;
}

.textfields{
    margin-top: 2%;
}

.from{
    margin-left: 35.3%;
    font-size: 120%;
    font-weight: bold;
}

.from_field{
    margin-left: 35.3%;
    margin-top: 1%;
    height: 25px;
}

.to{
    margin-left: 17%;
    font-size: 120%;
    font-weight: bold;
}

.to_field{
    margin-left: 8.5%;
    height: 25px;
}

.date{
    margin-top: 2%;
}

.departure{
    margin-left: 35.3%;
    font-size: 120%;
    font-weight: bold;
}

.departure_field{
    margin-left: 35.3%;
    margin-top: 1%;
    height: 30px;
    width: 10.5%;
}

.return{
    margin-left: 15%;
    font-size: 120%;
    font-weight: bold;
}

.return_field{
    margin-left: 8.6%;
    height: 30px;
    width: 10.5%;

}

button{
    background-color: rgb(18, 145, 184);
    color: white;
    font-weight: bold;
    font-size: 180%;
    border-radius: 5px;
    width: 10%;
    margin-top: 5%;
    margin-left: 55%;
}