.navbar {
    background-color: white;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    color: blue;
    text-align: center;
    margin-left: 15%;
    padding: 1% ;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  .logo{
    height: 70px;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: -3.5%;
  }